.git
.gitignore
.env
.env.example
.env.*.php
node_modules
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
*.md
.vscode
.idea
.editorconfig
.gitattributes
tests
database/seeders
storage/logs/*
bootstrap/cache/*
.php_cs
.php_cs.cache
phpunit.xml
.coverage
.pytest_cache
coverage
dist
build
.eslintignore
.eslintrc
.prettierignore
.prettierrc
docker-compose.yml
compose.yml
compose.override.yml
.dockerignore
app-debug.log
